.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 4px;
}
.header{
    grid-column-start: 1;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: 1fr 2fr;
}
.menu ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
}

.logo{
    justify-self: start;
}
.menu{
    align-self: center;
}
.side{
    grid-row-start: 2;
    grid-row-end: 4;
    display: grid;
    gap: 50px;
    
}
.image{
    display: grid;
    align-items: center;
    
}
.nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}
.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 15px;
}

.articles .card {
  height: 200px;
  background: #aac9f2;
}

.card p {
  padding: 5px;
}
/* 
additional */

  
  .container {
    text-align: center;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #0d162b;
  }
  
  
  .menu ul,
  .menu li {
    font-size: 16px;
  }
  
  .side {
    background-color: #f1767a;
  }
  
  .side .image {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  
  .side .item {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
    border-radius: 8px;
  }
  
  .nav {
    background-color: #e85d62;
  }
  
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .article {
    background-color: #aac9f2;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: white;
    color: black;
    text-align: center;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  
  .footer {
    background-color: #393f4d;
    grid-column: 1/3  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;

  }
  